/*        TABLE OF CONTENTS
    =============================

    1.........Index
    2.........Colours
    2.1.......Text colours
    2.1.1.....Base to #1F1F1F
    2.1.2.....Section-specific
    2.1.3.....Section-to-section
    2.1.3.1...Based on Literature
    2.1.3.2...Based on Film
    2.1.3.3...Based on Sound
    2.1.3.4...Based on Photography
    2.1.3.5...Based on Art
    2.2.......Background colours
    3.........Typography
    4.........Global
    4.1.......Navbar
    4.2.......Footer
    4.3.......Temporary remove of outlines
    5.........Section-specific
    5.1.......Literature
    5.1.2.....Poetry
    5.1.3.....Edited
    5.2.......Film
    5.3.......Sound
    5.4.......Photography
    5.5.......Art
    5.6.......Development
    6.........Styling
    6.1.......Buttons

    =============================  */

/* 1 INDEX */

.index-imgs {
  height: 100vh; 
  background-size: cover;
  filter: grayscale(100%);
  transition: all ease-in-out 0.2s;
}

.index-imgs:hover {
  filter: grayscale(0%);
}

.index-imgs-link {
  height: calc(100vh - 64px);
}

@media (max-width: 991px) {
  .index-imgs {
    height: 50vh;
  }

  .index-imgs-link {
    height: calc(50vh - 64px);
  }
}

.index-section-header {
  color: #ffffffbb;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  /*font-weight: 700;*/
  transition: all ease-in-out 0.2s;
}

.index-section-header:hover {
  color: #fff;
  text-decoration: none;
}

/* 2 COLOURS */

/* 2.1 TEXT COLOURS */

.text-white {
  color: #fcfcfc !important;
}

/* 2.1.1 BASE TO #1F1F1F */

body {
  color: #1f1f1f;
  background-color: #fcfcfc;
}

pre {
  color: #1f1f1f;
}

.btn-secondary:hover {
  color: #1f1f1f;
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #1f1f1f;
}

.dropdown-menu {
  color: #1f1f1f;
}

.dropdown-item {
  color: #1f1f1f;
}

.list-group-item-action .list-group-item-heading {
  color: #1f1f1f;
}

.list-group-item-action:active {
  color: #1f1f1f;
}

.text-gray-dark {
  color: #1f1f1f !important;
}

/* 2.1.2 SECTION-SPECIFIC */

.lit-text, .film-text, .sound-text, .photo-text, .art-text, .dev-text {
  opacity: 1;
}

.lit-text:hover, .film-text:hover, .sound-text:hover, .photo-text:hover, .art-text:hover, .dev-text:hover {
  opacity: 0.6;
}

/* 2.1.3 SECTION-TO-SECTION */

/* 2.1.3.1 BASED ON LITERATURE */

.lit-film-text:hover {
  color: #6a1d30 !important;
}

.lit-sound-text:hover {
  color: #8d4134 !important;
}

.lit-photo-text:hover {
  color: #1a584d !important;
}

.lit-art-text:hover {
  color: #352b3b !important;
}

.lit-dev-text:hover {
  color: #765d3a !important;
}

/* 2.1.3.2 BASED ON FILM */

.film-sound-text:hover {
  color: #d94046 !important;
}

.film-photo-text:hover {
  color: #66575f !important;
}

.film-art-text:hover {
  color: #812a4d !important;
}

.film-dev-text:hover {
  color: #c25c51 !important;
}

/* 2.1.3.3 BASED ON SOUND */

.sound-photo-text:hover {
  color: #897b63 !important;
}

.sound-art-text:hover {
  color: #a44e51 !important;
}

.sound-dev-text:hover {
  color: #729769 !important;
}

/* 2.1.3.4 BASED ON PHOTOGRAPHY */

.photo-art-text:hover {
  color: #31656a !important;
}

.photo-dev-text:hover {
  color: #729769 !important;
}

/* 2.1.3.5 BASED ON ART */

.art-dev-text:hover {
  color: #8d6a57 !important;
}

/* 2.1.4 LINK COLOURS */

.lit-link{
  color: #1f1f1f
}

.film-link


/* 2.2 BACKGROUND COLOURS */

.bg-lit {
  background: #1f1f1f;
}

.bg-film {
    background: #B61C42;
}

.bg-sound {
    background: #FC654A;
}

.bg-photo {
    background: #17927D;
}

.bg-art {
    background: #4C3959;
}

.bg-dev {
  background: #CD9C56;
}

.bg-credits {
    background: #FEFEFE
}

kbd {
  background-color: #1f1f1f;
}

.thead-inverse th {
  background-color: #1f1f1f;
}

.table-inverse {
  background-color: #1f1f1f;
}

.btn-secondary {
  background-color: #fff;
}

.bg-inverse {
  background: #1f1f1f;
}

/* 3 TYPOGRAPHY */

@font-face{ 
  font-family: 'Genzsch Et Heyse';
  src: url('fonts/GenzschEtHeyse-webfont.woff') format('woff');
}

body {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

a {
  transition: all ease-in-out 0.2s;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.tooltip {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.popover {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

q, blockquote {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  font-size: 1.4rem !important;
  margin: auto 3rem;
}

.redacted {
  background-color: #1f1f1f;
}

.figure-caption {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-literature .figure-caption {
    font-family: 'EB Garamond', serif;
    color: #1f1f1f;
    font-size: 1rem;
}

/* 4 GLOBAL */

/* 4.1 NAVBAR */

.nav-link {
  padding: 1.3rem 0.9rem !important;
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
}

a.nav-link {
  text-decoration: none !important;
}

a.dropdown-item {
  text-decoration: none !important; 
}

a.dropdown-item:hover {
  background: transparent;
}

.dropdown-toggle::after {
  font-family: 'Font Awesome 5 Free';
  margin-left: 0.255em;
  vertical-align: 0em;
  content: '\f107';
  border: none;
  font-style: normal;
  font-weight: 700;
  opacity: 0.5;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
}

/* 4.2 FOOTER */

footer .license {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-size: 1rem !important;
  color: #fcfcfc;
  font-style: normal;
  opacity: 0.75;
}

footer .license > a {
  color: #fcfcfc;
  opacity: 0.75;
  text-decoration: none;
}

footer .license > a:hover {
  opacity: 1;
  text-decoration: none;
}

/* 4.3 Temporary removal of outlines */

button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* 5 SECTION-SPECIFIC */

/* 5.1 LITERATURE */

.article-literature {
  background-color: #faf5f1;
}

.article-literature h1 {
  /*font-family: 'Genzsch Et Heyse', serif;*/
  font-family: 'EB Garamond', serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  /*text-shadow: 1px 3px 6px #f9fae5, 0 0 0 #c4ad9f, 1px 3px 6px #f9fae5;"*/
  /*text-align: center;*/
}

.article-literature h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  /*font-style: italic;*/
}

.article-literature p {
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.75;
}

.article-literature ol {
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.75;
}

@media (max-width: 575px) {
  .article-literature h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 414px) {
  .article-literature h1 {
    font-size: 3.3rem;
  }
}

.article-literature a {
  color: #1f1f1f;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color: #e4d8ce;
}

.article-literature a:hover {
  text-underline-offset: 2.5px;
  text-decoration-color: #1f1f1f;
}

.lit-list a {
  text-decoration-color: #1f1f1f33;
}

.article-literature figure img {
  border: 1px solid #1f1f1f
}

.article-literature .figure-caption {
    font-family: 'EB Garamond', serif;
    color: #1f1f1f;
    font-size: 1rem;
}

/* 5.1.1 Literature list */

.lit-list h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-style: italic;
}

.lit-list h4 {
  font-family: 'EB Garamond', serif;
  /*font-weight: 700;*/
  /*font-style: italic;*/
  margin-bottom: 1rem;
}

.lit-list h5 {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
  /*font-weight: 700;*/
  font-style: italic;
  margin-bottom: 1rem;
}

.lit-list h6 {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 1.05rem;
  /*font-style: italic;*/
}

.lit-list a {
  color: #1f1f1f;
}

@media (min-width: 1200px) {
  .lit-list img {
  max-width: 70%;
  }
}

.lit-list .fas {
  color: #1f1f1f33;

}

/* 5.1.2 Poetry */

.article-poetry .col-12 {
  margin: auto;
  max-width: max-content;
}

.article-poetry h1 + p::first-line {
  /*font-variant: small-caps;*/
  /*letter-spacing: 1px;*/
}

.article-poetry p {
  max-width: 35rem;
  font-size: 1.3rem;
  line-height: 1.75;
}

.article-poetry .line {
  display: inline-block;
  text-indent: -2rem;
  margin-left: 2rem;
}

/* 5.1.3 Edited */

.edited .lit-list img {
  border: 1px solid #1f1f1f11;
}

/* 5.1.4 Fiction */

.fiction p {
  /*font-size: 1.3rem;*/
  text-indent: 1.5rem;
  line-height: 2;
  margin-bottom: 0;
}

.fiction h1 + p, .fiction h2 + p {
  text-indent: 0;
}

/* 5.1.5 References */

ol.references {
  list-style: none;
  counter-reset: list;
  padding-left: 3px;
}

ol.references li:before {
  content: counter(list);
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  right: 100%;
  font-style: italic;
  font-weight: bold;
  /*line-height: 1.25;*/
}

ol.references li {
  counter-increment: list;
  position: relative;
  padding-left: 0px; 
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-left: -1px;
  /*line-height: 1.25;*/
}

ol.references li em {
  display: block;
}

/* 5.2 FILM */

.article-film {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-film .article-box {
  height: 22.5rem;
  padding: 0;
  background: #000;
}

.article-film .article-box-img {
  position: absolute;
  /*filter: saturate(175%) contrast(125%) brightness(0.2);  */
  opacity: 0.2;
  transition: all ease-in-out 0.3s;
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-film .article-box:hover .article-box-img {
  /*filter: saturate(175%) contrast(125%) brightness(0.4);*/
  opacity: 0.4;
}

.article-film .article-box h1 {
  z-index: 2;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

/* 5.3 SOUND */

.article-sound {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-sound h1 {
  font-weight: 300;
}

.article-sound .navbar {
  background-color: #FC654A;
}

.article-sound .dropdown-menu {
  background-color: #FC654A;
}

.article-sound .article-box {
  /*height: 100vh;*/
  padding: 0;
  background: #000;
}

.article-sound .article-box-img {
  /*position: absolute;*/
  /*filter: saturate(175%) contrast(125%) brightness(0.2);  */
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
  /*object-position: 50% 50%;*/
  /*object-fit: cover;*/
  width: 100%;
  height: 100%;
}

.article-sound .article-box:hover .article-box-img {
  /*filter: saturate(175%) contrast(125%) brightness(0.4);*/
  opacity: 0.75;
}

.article-sound .article-box h1 {
  z-index: 2;
}

/* 5.4 PHOTOGRAPHY */

.article-photo {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-photo h1 {
  font-weight: 300;
}

.article-photo {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-photo h1 {
  font-weight: 300;
}

.photo-index img {
  filter: saturate(50%) brightness(0.5);
  transition: all ease-in-out 0.3s;
}

.photo-index img:hover {
  filter: saturate(100%) brightness(1.0);
}

.article-photo a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  text-decoration-color: #4AB09F;
}

.article-photo a:hover {
  text-underline-offset: 2.5px;
  text-decoration-color: #89c4bd;
}

.btn-outline-photo {
  font-size: 1.1rem;
  color: #89c4bd !important;
  background-color: transparent;
  border: 5px solid #4AB09F;
  border-radius: 0.5rem;
  text-decoration: none !important;
  transition: all ease-in-out 0.2s;
}

.btn-outline-photo:hover {
  color: #fcfcfc !important;
  background-color: #4AB09F;
  border-color: #4AB09F;
}

.btn-outline-photo:focus, .btn-outline-photo.focus {
  box-shadow: 0 0 0 0.2rem #89c4bd;
}

.btn-outline-photo.disabled, .btn-outline-photo:disabled {
  color: #000;
  background-color: #4AB09F;
  border-color: #4AB09F;
}

.btn-outline-photo:not(:disabled):not(.disabled):active, .btn-outline-photo:not(:disabled):not(.disabled).active,
.show > .btn-outline-photo.dropdown-toggle {
  color: #fcfcfc;
  background-color: #4AB09F;
  border-color: #4AB09F;
}

.btn-outline-photo:not(:disabled):not(.disabled):active:focus, .btn-outline-photo:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-photo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #89c4bd;
}

p.photo-date, p.photo-license {
  color: #89c4bd;
  font-size: 1.05rem;
}

p.photo-license a {
  color: #89c4bd;
}

/* 5.4.1 Individual pages */

.photo-showcase {
  height: calc(100vh - 81px);
  object-fit: cover;
}

.photo-description h1 {
  font-family: 'EB Garamond';
  color: #89c4bd;
  margin-bottom: 1rem;
}

.photo-description p {
  font-size: 1.2rem;
  color: #fcfcfc;
}

@media (max-width: 768px) {
  .photo-showcase {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) {
  .row-links {
    position: absolute;
    bottom: 1rem;
    margin-right: 0;
  }
}

.img-link {
  border-radius: 0.5rem;
  border: 5px solid #4AB09F;
}

/* 5.5 ART */

.article-art {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-art h1 {
  font-weight: 300;
}

.article-art .article-box  {
  background-color: rgba(28, 18, 35) !important;
  color: #fcfcfc;
  text-align: center;
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}

.article-art .article-box:hover {
  opacity: 0.85;
  box-shadow: 0 0 25px 0 rgb(14, 7, 18) inset;
}

.article-art .article-box h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
}

.article-art .article-box h1 a {
  color: #fcfcfc;
}

.article-art .article-box h1 a:hover {
  color: #9b90a2;
  text-decoration: none;
}

.btn-art {
  color: #fff;
  background-color: #4C3959;
  border-color: #4C3959;
  border-radius: 0;
}

.btn-art:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-art:focus, .btn-art.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-art.disabled, .btn-art:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-art:not(:disabled):not(.disabled):active, .btn-art:not(:disabled):not(.disabled).active,
.show > .btn-art.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-art:not(:disabled):not(.disabled):active:focus, .btn-art:not(:disabled):not(.disabled).active:focus,
.show > .btn-art.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-outline-art {
  color: #4C3959;
  background-color: transparent;
  border-color: #4C3959;
  border-radius: 0;
}

.btn-outline-art:hover {
  color: #fcfcfc;
  background-color: #4C3959;
  border-color: #4C3959;
}

.btn-outline-art:focus, .btn-outline-art.focus {
  box-shadow: 0 0 0 0.2rem #8b7899;
}

.btn-outline-art.disabled, .btn-outline-art:disabled {
  color: #fcfcfc;
  background-color: #8b7899;
  border-color: #8b7899;
}

.btn-outline-art:not(:disabled):not(.disabled):active, .btn-outline-art:not(:disabled):not(.disabled).active,
.show > .btn-outline-art.dropdown-toggle {
  color: #fcfcfc;
  background-color: #4C3959;
  border-color: #4C3959;
}

.btn-outline-art:not(:disabled):not(.disabled):active:focus, .btn-outline-art:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-art.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #8b7899;
}

/* 5.6 DEVELOPMENT */

.article-dev {
  font-family: 'Maven Pro', 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.article-dev h1 {
  font-weight: 300;
}

/* 6 STYLING */

/* 6.1 BUTTONS */

.btn-empty {
  color: #1f1f1f;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}

.btn-empty:hover {
  color: #1f1f1f;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}

.btn-empty:focus, .btn-empty.focus {
  box-shadow: none;
}

